
@media (min-width: 1251px)
#maindiv {
    width: 80%;
    margin: 0 auto;
	max-width: 1260px;
}

@media (min-width: 1251px)
#tdleft {
    width: 100%;
}

.col:first-child {
    margin-left: 0;
}

.col {
    display: block;
    float: left;
}

span, div {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.bcrumbDiv ol {
    padding: 0;
    margin: 0;
}

.bcrumbDiv ol li {
    list-style: none;
    float: left;
    color: #292929;
}

.bcrumbDiv ol li a {
    color: #292929;
    font-size: 15px;
    font-family: calibri;
}
a, a:active, a:visited {
    outline: none;
}
#paper-descrip {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.5em;
    text-indent: 100px;
    text-align: justify;
    background-color: #fff;
    width: 95%;
    margin: 0 auto;
}
table td {
    vertical-align: top;
}
#keywordsfoot11 {
    min-height: 5px;
    color: #3B5998;
    overflow: hidden;
    font-family: Roboto,sans-serif;
    text-align: left;
}

.detail-container11 {
    width: 100%;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    padding-top: 5px;
    background: #FFF;
    border-bottom: 0px solid #3B5998;
    -webkit-box-shadow: 0 0 3px #CACACA;
    -moz-box-shadow: 0 0 3px #cacaca;
    box-shadow: 0 0 3px #CACACA;
}
.keywords_h2foot11 {
    color: #0070FF!important;
    font-size: 14px;
    text-align: justify;
}

.detail-container12 ul.keyword-listfoot11 {
    text-align: left;
    list-style: none;
    padding: 0px;
    width: 100%;
    float: left;
    height: auto;
    display: block;
    background-color: #fff;
}

.detail-container12 ul.keyword-listfoot11 li {
    font-weight: 300;
    width: 23%;
    float: left;
    padding: 8px 5px;
    text-align: left;
    color: #666;
    font-size: 14px;
    text-align: -webkit-match-parent;
}

.detail-container12 ul.keyword-listfoot11 li a {
    color: #3B5998;
    text-decoration: none;
    font-size: 14px;
    text-align: -webkit-match-parent;
    word-wrap: break-word;
    vertical-align: top;
}

a, a:active, a:visited {
    outline: none;
}


